.checkable__button {
  border: 1px solid #F0F2F5;
  border-radius: 2px;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.checkable__button:hover {
  color: #40a9ff;
}

.checked {
  border-color: #40a9ff;
}