body {
  background-color: #F0F2F5;
  min-height: 100vh;
}

canvas {
  display: block;
  margin: 0 auto 25px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: white;
}

input[type="file"] {
  width: 280px;
  display: block;
  margin: 0 auto 25px;
}